.App {
  text-align: center;
  margin-bottom: 60px;
  background-color: whitesmoke;
  min-height: 100vh;
}

.App-header {
  background-color: yellowgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-Home {
  height: 100%;
  min-height: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.homebase {
  margin-bottom: 25vh;
}

.App-link {
  color: #61dafb;
}

.App-Nav-Home {
  margin: 1em;
  color: forestgreen;
}
.App-Nav-reviews {
  margin: 1em;
  color: forestgreen;
}
.App-Nav-categories {
  margin: 1em;
  color: forestgreen;
}
.App-Nav-profile {
  margin: 1em;
  color: forestgreen;
}
.App-img {
  border: 1em;
  min-height: 5cm;
  max-height: 20cm;
  width: 10cm;
}

.App-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: grey;
}

.App-category-list {
  color: blue;
  padding: 0;
  text-align: left;
}

.App-reviews-list {
  color: blue;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.App-review-comments {
  text-align: left;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
